{% extends 'base.html' %}
{% block content %}




<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form method="POST" class="p-5 shadow">
                {% csrf_token %}
                <div class ="form-group">
                    <h3>Enter Your Tasks Info</h3><br>
                    <input type="text" class="form-control" name="task" placeholder="Enter your task">
                </div><br>
                <div class = "form-group">
                    <input type="text" class = "form-control" name="priority" placeholder="Enter your priority">
                </div><br>
                <div class = "form-group">
                    <input type="date" class = "form-control" name="date" placeholder="Enter Your Date">
                </div><br>
                <button class="btn btn-success" type="submit">Submit</button>
            </form>
        </div>


        <div class="col-md-6 p-4">
        <h4>Task to be Completed</h4><br>
        {% for i in task1 %}
        <div class="shadow card">
            <div class="card-body">
                <h5 class="card-title">{{i.name}}</h5>
                <p><b>{{i.priority}}</b></p>
                <p><b>{{i.date}}</b></p>
                <a class="btn btn-danger" href="{% url 'delete' i.id %}">Done</a>
                <a class="btn btn-success" href="{% url 'update' i.id %}">Update</a>

            </div>
        </div>
        <br>
        {% endfor %}
    </div>



    </div>
</div>




{% endblock %}